<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{category}}</title>
</head>
<body>
    <h1>{{category}}</h1>
    <ul>
        {% for item in items %}
        <li>
            {{ item.item }}
        </li>
        {% endfor %}
        
    </ul>
    <form action="{% url 'add' id  %}" method="post">
        {% csrf_token %}
        <input name="item" type="text">
        <button type="submit">Add</button>
    </form>
</body>
</html>